doctype html
html
    head
        title Salona
        meta(name="description" content="民主的な検索エンジン")
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:title" content="Salona")
        meta(name="twitter:description" content="検索エンジンを作ろう")
        meta(name="twitter:image" content="https://salona.org/thumbnail.png")
        meta(property="og:image" content="https://salona.org/thumbnail.png")
        include common.pug
        style.
            a { text-decoration: none; color: #345; line-height: 40px; font-weight: bold; font-size: 24px; }
            input { width: 100%; height: 40px; margin: 15px 0; padding: 0 10px; font-size: 24px; color: #345; box-sizing: border-box; border: none; -webkit-appearance: none; text-align: center; }
    body(style="margin: 0; font-family: sans-serif;")
        div(style="display: flex; justify-content: space-evenly;")
            div(style="margin: 15px;")
                a(href="/salona" style="") ◯
            div(style="max-width: 600px; flex: 2;")
                input#query(spellcheck="false" autofocus)
            div(style="margin: 15px;")
                a(href="/create") ＋
            script.
                var query = document.getElementById("query");
                query.addEventListener("keyup", function(event) {
                    if (event.keyCode === 13) { event.preventDefault(); window.location.href = "/search?q=" + query.value; }
                });
        hr(style="border-top: 1px solid #ccc; border-bottom: none; margin: 0;")
